
<head>

h1{
	color: lightbrown;
}
h2{
	color: lightbrown;
}
hr{
	color: lightbrown;

}
body{
    background-color: #f8efef;
    font-family: 'Dongle', sans-serif;
    font-size: 50px;

}

<ul>
</body>

